
body {
    font-family: 'fredoka'; 
    color: rgb(255, 255, 255);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,172,221,1) 0%, rgba(255,255,255,1) 100%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.638);
    
}

button {
    padding: 5px 10px;
}

.kerstman {
    height: 100px;
    
}

.sneeuwvlokken {
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 20%;
    
}

.flex-container {
    display: flex;
    flex-direction: column; /* Plaatst alle items verticaal */
    justify-content: center; /* Centreert items verticaal */
    align-items: center; /* Centreert items horizontaal */
    height: 100vh; /* Zorgt dat de container de volledige hoogte van het scherm gebruikt */
    width: 100%; /* Zorgt dat de container de volledige breedte gebruikt */


}

.title-container {
    display: block;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    font-family: 'fredoka';
    font-size: 20px;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.638);
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: -150px;
}


.save {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: rgba(255, 255, 255, 0.392);
    font-family: 'Fredoka';
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    
}

.save:hover {
    background-color: rgba(255, 255, 255, 0.399);
    color: rgb(0, 0, 0);
    border: black solid 0.4px;
    
}

.namen {
    font-family: 'fredoka';
    color: rgb(255, 255, 255);
}

.namen input {
    padding: 10px;      
    width: 150%;   
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    
}

.addChild {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: 'fredoka';
    border: 0.5px solid black;
}

.addChild:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.type-cadeau {
    padding-left: 70px;  
    
}

input:placeholder, textarea::placeholder {
    color: #00000044;   
    font-family: 'bangers';  
    letter-spacing: 2px;
    
}

input {
    color: rgb(0, 0, 0);
    font-family: 'fredoka';
    letter-spacing: 2px;
    
}

.resultaat-container {
    letter-spacing: 10px;
    font-family: 'fredoka';
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    margin-top: -250px;
    position: static;
    
}

.counter {
    position: absolute;
    top: 15px;
    left: 5px;
}



.add-button:hover, .min-button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}


.resultTextCss {
    font-weight: 100;
    font-size: 35px;
}
.toyBox, .childBox {
    left: 8px;
    margin-top: 5px;
    padding: 10px;
    width: 250px; 
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
}
.toyBox input {
    width: 100%;
}

.toyBox span, .toyBox button {
    width: 100%;
}

.toyDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}
.toyDiv button {
    margin: 3px;
}
.toyDiv span {
    margin: 3px;
}

.toyBox {
    margin-bottom: 5px;
    padding: 5px;
    width: 200px;
}



#resultaat p {
    font-size: 25px; 
    color: #ffffff; 
    font-family: 'arial'; 
    background-color: rgba(0, 0, 0, 0.13); 
    text-align: center; 
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 2px;
    
}

#addToy {
    display: none;
}
